<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title></title>
</head>
<body>
  <div class="container register">
    <div class="row">
      <div class="col-md-3 register-left">
        <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="" />
        <h3>Bem-vindo!</h3>
        <p>Você está a 30 segundos de economizar muito dinheiro!</p>
        <input type="submit" name="" value="Login" [routerLink]="['/entrar']" />
        <br />
      </div>
      <div class="col-md-9 register-right">
        <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Cliente</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Empresa</a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <h3 class="register-heading">Cadastre-se como cliente</h3>
            <div class="row register-form">
              <div class="col-md-6">

                <div class="form-group">
                  <input type="text" class="form-control" name="nome" placeholder="Nome"
                         [ngClass]="{
                          'is-invalid':nome.invalid && (nome.dirty || nome.touched),
                          'is-valid':nome.valid && (nome.dirty || nome.touched)
                         }"
                         [(ngModel)]="cliente.nome"
                         #nome="ngModel" required />

                  <!--Validação do nome-->
                  <div class="invalid-feedback" *ngIf="nome.invalid && (nome.dirty || nome.touched)">
                    <div *ngIf="nome.errors.required">
                      Nome deve ser preenchido!
                    </div>
                  </div>
                  <!------------------>
                </div>

                <div class="form-group">
                  <input type="date" class="form-control" placeholder="Aniversario" name="dataNascimento"
                         [ngClass]="{
                          'is-invalid':dataNascimento.invalid && (dataNascimento.dirty || dataNascimento.touched),
                          'is-valid':dataNascimento.valid && (dataNascimento.dirty || dataNascimento.touched)
                         }"
                         [(ngModel)]="cliente.dataNascimento"
                         #dataNascimento="ngModel" required />

                  <!--Validação do aniversario-->
                  <div class="invalid-feedback" *ngIf="dataNascimento.invalid && (dataNascimento.dirty || dataNascimento.touched)">
                    <div *ngIf="dataNascimento.errors.required">
                      Aniversario deve ser preenchido!
                    </div>
                    <div *ngIf="dataNascimento.errors.date">
                      Aniversario não está no formato correto!
                    </div>
                  </div>
                  <!------------------>
                </div>

                <div class="form-group">
                  <input type="password" class="form-control" placeholder="Senha" name="senha"
                         [ngClass]="{
                          'is-invalid':senha.invalid && (senha.dirty || senha.touched),
                          'is-valid':senha.valid && (senha.dirty || senha.touched)
                         }"
                         [(ngModel)]="cliente.senha"
                         #senha="ngModel" required />

                  <!--Validação da senha-->
                  <div class="invalid-feedback" *ngIf="senha.invalid && (senha.dirty || senha.touched)">
                    <div *ngIf="senha.errors.required">
                      Senha deve ser preenchido!
                    </div>
                  </div>
                  <!------------------>
                </div>

                <div class="form-group">
                  <input type="password" class="form-control" placeholder="Confirme senha" value="" />
                </div>


                <div class="form-group">
                  <div class="maxl">
                    <label class="radio inline">
                      <input type="radio" name="sexo" value="homem" checked>
                      <span> Homem </span>
                    </label>
                    <label class="radio inline">
                      <input type="radio" name="sexo" value="mulher">
                      <span>Mulher </span>
                    </label>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <input type="email" class="form-control" placeholder="Email"
                         name="email"
                         [ngClass]="{
                         'is-invalid':email.invalid && (email.dirty || email.touched),
                         'is-valid':email.valid && (email.dirty || email.touched)
                         }"
                         [(ngModel)]="cliente.email"
                         #email="ngModel" email required />

                  <!--Validação do email-->
                  <div class="invalid-feedback" *ngIf="email.invalid && (email.dirty || email.touched)">
                    <div *ngIf="email.errors.required">
                      Email deve ser preenchido!
                    </div>
                    <div *ngIf="email.errors.email">
                      Email não está no formato correto!
                    </div>
                  </div>
                  <!------------------>
                </div>

                <div class="form-group">
                  <input type="text" minlength="10" maxlength="10" name="celular" class="form-control" placeholder="Celular"
                         [ngClass]="{
                         'is-invalid':celular.invalid && (celular.dirty || celular.touched),
                         'is-valid':celular.valid && (celular.dirty || celular.touched)
                         }"
                         [(ngModel)]="cliente.celular"
                         #celular="ngModel" required />

                  <!--Validação do celular-->
                  <div class="invalid-feedback" *ngIf="celular.invalid && (celular.dirty || celular.touched)">
                    <div *ngIf="celular.errors.required">
                      Celular deve ser preenchido!
                    </div>
                  </div>
                </div>
                <!------------------>
                <!--<div class="form-group">
    <select class="form-control">
      <option class="hidden" selected disabled>Please select your Sequrity Question</option>
      <option>What is your Birthdate?</option>
      <option>What is Your old Phone Number</option>
      <option>What is your Pet Name?</option>
    </select>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Enter Your Answer *" value="" />
  </div>-->
                <button type="submit" class="btn btnRegister" (click)="cadastrar()" [disabled]="ativar_spinner">
                  <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="ativar_spinner"></span>
                  Cadastrar
                </button>
              </div>
            </div>
          </div>
          <!--Grupo da Empresa-->
          <div class="tab-pane fade show" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <h3 class="register-heading">Cadastre-se como empresa</h3>
            <div class="row register-form">
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Nome da empresa" name="nomeEmpresa"
                         [ngClass]="{
                         'is-invalid':nomeEmpresa.invalid && (nomeEmpresa.dirty || nomeEmpresa.touched),
                         'is-valid':nomeEmpresa.valid && (nomeEmpresa.dirty || nomeEmpresa.touched)
                         }"
                         [(ngModel)]="empresa.nomeFantasia"
                         #nomeEmpresa="ngModel" required />
                  <!--Validação do Nome da empresa-->
                  <div class="invalid-feedback" *ngIf="nomeEmpresa.invalid && (nomeEmpresa.dirty || nomeEmpresa.touched)">
                    <div *ngIf="nomeEmpresa.errors.required">
                      Nome da empresa deve ser preenchido!
                    </div>
                  </div>
                  <!------------------>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Nome do proprietario" />
                  <!--Validação do Nome do proprietario-->
                  <!--<div class="invalid-feedback" *ngIf="celular.invalid && (celular.dirty || celular.touched)">
            <div *ngIf="celular.errors.required">
              O nome do proprietario deve ser preenchido!
            </div>
          </div>-->
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" placeholder="Email" name="emailEmp"
                         [ngClass]="{
                         'is-invalid':emailEmp.invalid && (emailEmp.dirty || emailEmp.touched),
                         'is-valid':emailEmp.valid && (emailEmp.dirty || emailEmp.touched)
                         }"
                         [(ngModel)]="empresa.email"
                         #emailEmp="ngModel" required />
                  <!--Validação do email-->
                  <div class="invalid-feedback" *ngIf="emailEmp.invalid && (emailEmp.dirty || emailEmp.touched)">
                    <div *ngIf="emailEmp.errors.required">
                      Email deve ser preenchido!
                    </div>
                    <div *ngIf="emailEmp.errors.email">
                      Email não está no formato correto!
                    </div>
                  </div>
                  <!------------------>
                </div>
                <div class="form-group">
                  <input type="text" maxlength="10" minlength="10" class="form-control" placeholder="Telefone" />
                  <!--Validação do telefone-->
                  <!--<div class="invalid-feedback" *ngIf="celular.invalid && (celular.dirty || celular.touched)">
            <div *ngIf="celular.errors.required">
              O telefone deve ser preenchido!
            </div>
          </div>-->
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input type="password" class="form-control" placeholder="Senha" name="senhaEmp"
                         [ngClass]="{
                         'is-invalid':senhaEmp.invalid && (senhaEmp.dirty || senhaEmp.touched),
                         'is-valid':senhaEmp.valid && (senhaEmp.dirty || senhaEmp.touched)
                         }"
                         [(ngModel)]="empresa.senha"
                         #senhaEmp="ngModel" required />
                  <!--Validação da senha-->
                  <div class="invalid-feedback" *ngIf="senhaEmp.invalid && (senhaEmp.dirty || senhaEmp.touched)">
                    <div *ngIf="senhaEmp.errors.required">
                      Senha deve ser preenchido!
                    </div>
                  </div>
                  <!------------------>
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" placeholder="Confirmar senha" value="" />
                </div>
                <!--<div class="form-group">
          <select class="form-control">
            <option class="hidden" selected disabled>Please select your Sequrity Question</option>
            <option>What is your Birthdate?</option>
            <option>What is Your old Phone Number</option>
            <option>What is your Pet Name?</option>
          </select>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="`Answer *" value="" />
        </div>-->
                <button type="submit" class="btn btnRegister" (click)="cadastrarEmp()" [disabled]="ativar_spinner">
                  <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="ativar_spinner"></span>
                  Cadastrar
                </button>
              </div>
            </div>
          </div>
          <div class="alert alert-danger" *ngIf="mensagem">
            {{mensagem}}
          </div>
          <div class="alert alert-sucess" *ngIf="usuarioCadastrado">
            {{mensagem}}
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
