<div *ngIf="!pedidos">Listando pedidos</div>

<div class="container" *ngIf="pedidos">
  <div class="row">
    <div class="col-md-4 mb-2" *ngFor="let p of pedidos">
      <a (click)="abrirPedido(p)" style="cursor:pointer">
        <div class="card">
          <img class="card-top" src="/arquivos/{{p.nomeArquivo}}"
               style="width:200px; height:200px;" />
          <div class="card-body">
            <!--<h5 class="card-title">{{p.nome}}</h5>-->
            <div class="card-text">{{p.descricao | truncate: 40}}</div>
            <h5 class="h5">{{p.preco}}</h5>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
